In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.shape

(13320, 9)

In [4]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [5]:
df['society'].nunique()

2688

In [6]:
df['availability'].nunique()

81

In [7]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

## Feature Extraction

In [8]:
df1 = df.drop(['availability','society'],axis=1)
df1.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00

## Data Cleaning

In [9]:
df1.isna().sum()

area_type       0
location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [10]:
df1['balcony'].fillna(int(df1['balcony'].median()), inplace=True)

In [11]:
df1.dropna(inplace=True)

In [12]:
df1.isna().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [13]:
df1['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [14]:
df1['BHK'] = df1['size'].apply(lambda x: int(x.split(' ')[0]))

In [15]:
df1.drop('size',axis=1,inplace=True)
df1.head()

,area_type,location,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,1440,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,1200,2.0,1.0,51.00,2

In [16]:
df1.BHK.unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [17]:
df1[df1['BHK']>20]

,area_type,location,total_sqft,bath,balcony,price,BHK
1718,Super built-up Area,2Electronic City Phase II,8000,27.0,0.0,230.0,27
4684,Plot Area,Munnekollal,2400,40.0,0.0,660.0,43

In [18]:
df1['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [19]:
def check_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [32]:
df1[~df1['total_sqft'].apply(check_float)].head(20)

,area_type,location,total_sqft,bath,balcony,price,BHK
30,Super built-up Area,Yelahanka,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,Hebbal,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,8th Phase JP Nagar,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,Sarjapur,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,KR Puram,1015 - 1540,2.0,0.0,56.800,2
410,Super built-up Area,Kengeri,34.46Sq. Meter,1.0,0.0,18.500,1
549,Super built-up Area,Hennur Road,1195 - 1440,2.0,0.0,63.770,2
648,Built-up Area,Arekere,4125Perch,9.0,2.0,265.000,9
661,Super built-up Area,Yelahanka,1120 - 1145,2.0,0.0,48.130,2
672,Built-up Area,Bettahalsoor,3090 - 5002,4.0,0.0,445.000,4
772,Super built-up Area,Banashankari Stage VI,1160 - 1195,2.0,0.0,59.935,2
775,Built-up Area,Basavanagara,1000Sq. Meter,2.0,1.0,93.000,1
850,Super built-up Area,Bannerghatta Road,1115 - 1130,2.0,0.0,58.935,2
872,Super built-up Area,Singapura Village,1100Sq. Yards,2.0,2.0,45.000,2
886,Super built-up Area,Chandapura,520 - 645,1.0,0.0,15.135,1
927,Super built-up Area,Thanisandra,1000 - 1285,2.0,0.0,43.415,2
959,Super built-up Area,Kammasandra,650 - 665,1.0,0.0,18.410,1
990,Super built-up Area,Sarjapur,633 - 666,1.0,0.0,17.535,1
1019,Plot Area,Marathi Layout,5.31Acres,1.0,0.0,110.000,1
1086,Plot Area,Narasapura,30Acres,2.0,2.0,29.500,2

In [22]:
def range_to_num(x):
    nums = x.split('-')
    if len(nums) == 2:
        return(float(nums[0]) + float(nums[1]))/2
    try:
        return float(x)
    except:
        return None

In [23]:
df2 = df1.copy()

In [24]:
df2['total_sqft'] = df2['total_sqft'].apply(range_to_num)

In [25]:
df2.head(5)

,area_type,location,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,1200.0,2.0,1.0,51.00,2

In [28]:
df2['total_sqft'].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [33]:
df2.isna().sum()

area_type      0
location       0
total_sqft    46
bath           0
balcony        0
price          0
BHK            0
dtype: int64

In [34]:
df2.shape

(13246, 7)

# ----------------------------------------------------------------------------

## Dimensionality Reduction

In [ ]:
df2.location = df2.location.apply(lambda x: x.strip())
location_stats = df.groupby('location')['location'].count().sort_values(ascending=False)
location_stats

In [ ]:
len(location_stats[location_stats<=10])

In [ ]:
location_stats_less_than_10 = location_stats[location_stats<=10]

In [ ]:
df2['location'].nunique()

In [ ]:
df2['location'] = df2['location'].apply(lambda x: 'other' if x in location_stats_less_than_10 else x )

In [ ]:
df2['location'].nunique()

In [ ]:
df2.head(60)

In [ ]:
df3 = df2.copy()
df3['price_per_sqft'] = df3['price']*100000/df3['total_sqft']
df3.head(10)

In [ ]:
df3['location'] = df3['location'].str.upper()

In [ ]:
df3['location'].nunique()

## Outlier Detection

As per the domain knowledge, there are no house with less than 300sqft of 1 bedroom. So we will keep minimum thresshold as 300sqft/bedroom

In [ ]:
df3[df3['total_sqft']/df3['BHK']<300]

In [ ]:
df3.shape

In [ ]:
df4 = df3[~(df3['total_sqft']/df3['BHK']<300)]

In [ ]:
df4.shape

In [ ]:
df4.price_per_sqft.describe()

In [ ]:
def remove_pps_outliers(df):
    df_result = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_result = pd.concat([df_result, reduced_df], ignore_index=True)
    return df_result

df5 = remove_pps_outliers(df4)
df5.shape

In [ ]:
df5.head()

In [ ]:
import matplotlib
def plot_scatter_chart(df,location):
    bhk2 = df[(df.location==location) & (df.BHK==2)]
    bhk3 = df[(df.location==location) & (df.BHK==3)]
    matplotlib.rcParams['figure.figsize'] = (15,10)
    plt.scatter(bhk2['total_sqft'], bhk2['price'], color='blue',label='2 BHK', s=50)
    plt.scatter(bhk3['total_sqft'],bhk3['price'], marker='+', color='green',label='3 BHK', s=50)
    plt.xlabel("Total Square Feet Area")
    plt.ylabel("Price (Lakh Indian Rupees)")
    plt.title(location)
    plt.legend()
    
plot_scatter_chart(df5,"WHITEFIELD")

Removing those outliers whose price 2bhk price per sqft is less then mean price of 1bhk per sqft

In [ ]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('BHK'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('BHK'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df6 = remove_bhk_outliers(df5)
# df8 = df7.copy()
df6.shape

In [ ]:
plot_scatter_chart(df6,"WHITEFIELD")

In [ ]:
matplotlib.rcParams['figure.figsize'] = (15,10)
plt.hist(df6.price_per_sqft, rwidth=0.7)
plt.xlabel('price_per_sqft')
plt.ylabel('count')

In [ ]:
df6.bath.unique()

In [ ]:
matplotlib.rcParams['figure.figsize'] = (15,10)
plt.hist(df6.bath, rwidth=0.7)
plt.xlabel('bathrooms')
plt.ylabel('count')

Removing outliers of bathrooms; removing  which have number more than no of bedrooms+2

In [ ]:
df6[df6.bath>df6.BHK+2]

In [ ]:
df7 = df6[df6.bath<df6.BHK+2]
df7.head()

In [ ]:
plt.hist(df7.balcony)
plt.xlabel('balcony')
plt.ylabel('count')

In [ ]:
df7.drop('price_per_sqft',axis=1,inplace=True)

In [ ]:
df7.drop('area_type',axis=1,inplace=True)

In [ ]:
df7.head()

## Converting labels into numeric data

In [ ]:
dummies = pd.get_dummies(df7['location'])
dummies.head()

In [ ]:
df8 = pd.concat([df7,dummies.drop('WHITEFIELD,', axis=1)],axis=1)
df8.drop('VIJAYANAGAR',axis=1,inplace=True)
df8.head()

In [ ]:
df8.drop('location',axis=1,inplace=True)

In [ ]:
df8.drop('balcony',axis=1,inplace=True)

In [ ]:
df8.head()

In [ ]:
df8.isna().sum()

In [ ]:
df8.shape

## Train Test Split

In [ ]:
X = df8.drop('price',axis=1)

In [ ]:
y = df8.price

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state=10)

## Model Building

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

Overfitting is observed so regularizing the test sets

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=50, max_iter = 500, tol = 0.1)
lasso_reg.fit(X_train,y_train)

In [ ]:
lasso_reg.score(X_test,y_test)

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit

cv = ShuffleSplit(n_splits=5, test_size=0.25, random_state=0)
cross_val_score(LinearRegression(), X_test, y_test, cv=cv)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

In [ ]:
tr = DecisionTreeRegressor(criterion= 'friedman_mse', splitter= 'best')

In [ ]:
tr.fit(X_train,y_train)
tr.score(X_test,y_test)

### Based on above results we can say that DecissionTreeRegressor gives the best score. Hence we will use that.

## Predicting the output by model

In [ ]:
def predict_price(location,sqft,bath,bhk):    
    loc_index = np.where(X.columns==location)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return tr.predict([x])[0]

In [ ]:
predict_price('VITTASANDRA',1000, 2, 2)

In [ ]:
predict_price('VITTASANDRA',1000, 3, 3)

In [ ]:
predict_price('WHITEFIELD',1000, 3, 3)

## Exporting the Model

In [ ]:
import pickle
with open('bengluru_houseprice_prediction_model.pickle','wb') as f:
    pickle.dump(tr,f)

In [ ]:
import json
columns = {
    'data_columns': [col.lower() for col in X.columns]    
}
with open ('columns.json','w') as f:
    f.write(json.dumps(columns))